@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --font-sans: "Inter", sans-serif;
  font-family: var(--font-sans);
}

@keyframes banner-scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-banner-scroll {
  animation: banner-scroll linear infinite;
}

@layer utilities {
  .animate-bounce-left {
    animation: bounce-left 300ms ease;
  }

  .animate-bounce-right {
    animation: bounce-right 300ms ease;
  }

  @keyframes bounce-left {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-10px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes bounce-right {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

/* This gives the <-> cursor */
.resize-column-cursor:hover {
  cursor: ew-resize;
}

/* Optional: clean up unwanted scrollbars or weird border behaviors */
table th,
table td {
  border-right: 1px solid #e5e7eb;
  /* Tailwind gray-200 */
  border-bottom: 1px solid #e5e7eb;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

.scrollbar-thin {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-thin::-webkit-scrollbar {
  display: none;
}